@use "./color" as color;
@use "./font" as font;
@use "./buttons";
@use "./textCards";

footer {
  background-color: #0e0e0f;
  color: color.$primary-color;
  padding: 48px;

  a {
    text-decoration: none;
    color: color.$primary-color;
  }

  ul {
    padding: 0;

    li {
      list-style-type: none;
    }
  }

  hr {
    max-width: 1200px;
    margin-inline:auto;
    color: color.$primary-color-dark;

  }

  i {
    color: color.$primary-color;
  }

  .footerhead,
  .footBody,
  .footButtom {
    max-width: 1200px;
    margin-inline: auto;
    
  }

  .footerhead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
 


    .footerIntroTitle {
      font-family: font.$tertiary-font;
      font-size: 2.5rem;
      font-weight: 700;
    }

    .footerIntroDescription {
      color: color.$primary-color-dark;
      font-family: font.$primary-font;
      font-size: 1.25rem;
      max-width: 700px;
    }

    .newsLetterForm {
      .newsLetterEmail {
        height: 40px;
        border: 1px solid #d8d8d8;
        border-radius: 8px;
        margin-right: 4px;
        padding: 20px;
      }

      .newsLetterBtn {
        @extend %primaryButton;
        margin-top: 8px;
      }
    }
  }

  .footBody {
     margin-block: 64px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .bodyCard {
      max-width: 320px;

      p {
        margin-top: 12px;
        font-family: font.$primary-font;
      }

      a {
        margin-bottom: 8px;
      }
    }

    .linkListsContainer {
      display: flex;
      gap: 80px;
      flex-wrap: wrap;

      .ProductList {
        display: flex;
        flex-direction: column;
        gap: 16px;
        font-family: font.$secondary-font;
        font-weight: 500;

        .listTitle {
          color: color.$primary-color-dark;

          font-size: 0.9rem;
        }
      }
    }
  }

  .footButtom {
   
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: color.$primary-color-dark;

    .socailLink {
      display: flex;
      gap: 16px;
    }
  }
}