@font-face {
  font-family: "Graphik-Regular";
  src: url("../../Assets/fonts/Graphik-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Graphik-Medium";
  src: url("../../Assets/fonts/Graphik-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Graphik-Semibold";
  src: url("../../Assets/fonts/Graphik-Semibold.otf") format("opentype");
}
body {
  font-family: "Graphik-Regular", sans-serif;
}

.contactHead {
  width: 90%;
  margin-top: 5rem;
}

.contactHead h1 {
  font-size: 3.5rem;
  color: #000000;
  font-weight: 700;
}

.contactHead p {
  color: rgba(33, 37, 41, 0.7019607843);
  font-size: 1rem;
}

.contactCard {
  width: 85%;
}

.contactCard img {
  filter: brightness(80%);
}

.contactCard .card {
  background-color: #F5EEE9;
}

.contactCard .pageContent {
  bottom: 12rem;
  width: 70%;
}

.contactForm p {
  font-size: 1rem;
}

.contactForm .mainContent {
  color: rgba(33, 37, 41, 0.7019607843);
}

.contactForm input::-moz-placeholder {
  font-size: 0.9rem;
}

.contactForm input::placeholder {
  font-size: 0.9rem;
}

.contactForm textarea {
  min-height: 11rem !important;
}

.contactForm textarea::-moz-placeholder {
  font-size: 0.9rem;
}

.contactForm textarea::placeholder {
  font-size: 0.9rem;
}

.contactForm .width-47 {
  width: 47%;
}

.contactForm button {
  background-color: #0F604D;
}

.contactForm button:hover {
  background-color: #116451;
}

.contactForm a {
  color: #0F604D;
}

.otherWays h2 {
  color: #000000;
}

.otherWays .otherWays-card {
  background-color: #F5EEE9;
  border-radius: 1rem;
}

.otherWays .otherWays-card a {
  color: #0F604D;
}

.otherWays p {
  color: #000000;
  font-size: 0.89rem;
}

.askedQuestions h2 {
  color: #000000;
}

.askedQuestions .accordion {
  background-color: #F5EEE9;
  --bs-accordion-bg: none;
}

.askedQuestions .accordion-button:not(.collapsed) {
  color: #000000;
  background-color: #F5EEE9;
  box-shadow: none;
}

.askedQuestions button {
  font-size: 1.1rem;
}

.askedQuestions .accordion-body {
  font-size: 0.96rem;
}

.toggle-icon {
  transition: transform 0.2s ease;
}

.gainValuable {
  background-color: #F5EEE9;
}

.gainValuable .cardTitle {
  position: absolute;
  top: 23px;
  left: 26px;
  background-color: #0F604D;
  font-size: 0.8rem;
}

.gainValuable .avtar {
  border-radius: 50%;
  width: 1.5rem;
}

.gainValuable .avtarContent {
  font-size: 0.8rem;
}

.gainValuable a {
  color: #0F604D;
}

.scaleImage:hover img {
  transform: scale(1.03);
  transition: transform 0.8s ease;
} 
