@font-face {
  font-family: "Graphik-Regular";
  src: url("../../Assets/fonts/Graphik-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Graphik-Medium";
  src: url("../../Assets/fonts/Graphik-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Graphik-Semibold";
  src: url("../../Assets/fonts/Graphik-Semibold.otf") format("opentype");
}
footer .footerhead .newsLetterForm .newsLetterBtn {
  background-color: #0F604D;
  color: white;
  font-family: "Graphik-Regular", sans-serif;
  font-size: 1rem;
  border: 0;
  padding: 8px 4px;
  border-radius: 8px;
  transition: 0.5s;
  min-width: 150px;
}

footer .footerhead .newsLetterForm .newsLetterBtn:hover {
  background-color: #0c4e3e;
}

footer {
  background-color: #0E0E0F;
  color: white;
  padding: 48px;
}

footer a {
  text-decoration: none;
  color: white;
}
footer ul {
  padding: 0;
}
footer ul li {
  list-style-type: none;
}

footer hr {
  width: 100%;
  color: rgba(255, 255, 255, 0.7019607843);
}

footer i {
  color: white;
}

footer .footerhead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer .footerhead .footerIntroTitle {
  font-family: "Graphik-Semibold", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
}

footer .footerhead .footerIntroDescription {
  color: rgba(255, 255, 255, 0.7019607843);
  font-family: "Graphik-Regular", sans-serif;
  font-size: 1.25rem;
  max-width: 700px;
}

footer .footerhead .newsLetterForm .newsLetterEmail {
  height: 40px;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  margin-right: 4px;
  padding: 20px;
}
footer .footerhead .newsLetterForm .newsLetterBtn {
  margin-top: 8px;
}
footer .footBody {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .footBody .bodyCard {
  max-width: 320px;
}
footer .footBody .bodyCard p {
  margin-top: 12px;
  font-family: "Graphik-Regular", sans-serif;
}
footer .footBody .bodyCard a {
  margin-bottom: 8px;
}
footer .footBody .linkListsContainer {
  display: flex;
  gap: 64px;
  flex-wrap: wrap;
}
footer .footBody .linkListsContainer .ProductList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: "Graphik-Medium", sans-serif;
  font-weight: 500;
}
footer .footBody .linkListsContainer .ProductList .listTitle {
  color: rgba(255, 255, 255, 0.7019607843);
  font-size: 0.9rem;
}
footer .footButtom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: rgba(255, 255, 255, 0.7019607843);
}

footer .footButtom .socailLink {
  display: flex;
  gap: 16px;
} 
