@font-face {
  font-family: "Graphik-Regular";
  src: url("/Assets/fonts/Graphik-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Graphik-Medium";
  src: url("/Assets/fonts/Graphik-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Graphik-Semibold";
  src: url("/Assets/fonts/Graphik-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
body {
  font-family: "Graphik-Regular", sans-serif;
}

.headerMain {
  padding: 32px;
  background: linear-gradient(white, #F5EEE9);
}
.headerMain .headFristSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 64px;
}
.headerMain .headFristSection .headerContent {
  max-width: 600px;
}
.headerMain .headFristSection .headerContent h1 {
  font-size: 4rem;
  margin-bottom: 16px;
}
.headerMain .headFristSection .headerContent .description {
  font-size: 1.25rem;
  margin-bottom: 24px;
}
.headerMain .headFristSection .headerContent .email {
  width: 250;
  height: 40px;
  border-color: #fcf4f4;
  outline: none;
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 0 24px;
}
.headerMain .headFristSection .headerContent .getDemoBtn {
  background-color: #0F604D;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 32px;
}
.headerMain .headFristSection .headerContent .reviews .reviewers img {
  border-radius: 24px;
  margin-right: -20px;
}
.headerMain .headFristSection .heroImgContainer {
  position: relative;
  width: fit-content;
}
.headerMain .headFristSection .heroImgContainer .accountImg,
.headerMain .headFristSection .heroImgContainer .countriesImg {
  position: absolute;
}
.headerMain .headFristSection .heroImgContainer .countriesImg {
  top: 250px;
  left: 50px;
  transform: translate(-50%, -50%);
}
.headerMain .headFristSection .heroImgContainer .accountImg {
  bottom: 200px;
  right: 50px;
  transform: translate(50%, 50%);
}
.headerMain .brands {
  text-align: center;
  margin-top: 32px;
}
.headerMain .brands img {
  margin: 0 16px;
}
