@font-face {
  font-family: "Graphik-Regular";
  src: url("../../Assets/fonts/Graphik-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Graphik-Medium";
  src: url("../../Assets/fonts/Graphik-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Graphik-Semibold";
  src: url("../../Assets/fonts/Graphik-Semibold.otf") format("opentype");
}
main .featuresContainer .featuresSectionOutro .trialBtn, main .questionSection .questionCard .questionBtn, main .insightsSection .introContainer .postsBtn, main .pricingContainer .pricingCards .pricingCard .pricingBtn {
  background-color: #12715b;
  color: white;
  font-family: "Graphik-Regular", sans-serif;
  font-weight: 505;
  font-size: 1rem;
  border: 0;
  padding: 8px 4px;
  border-radius: 8px;
  transition: 0.5s;
  width: 150px;
}
main .featuresContainer .featuresSectionOutro .trialBtn:hover, main .questionSection .questionCard .questionBtn:hover, main .insightsSection .introContainer .postsBtn:hover, main .pricingContainer .pricingCards .pricingCard .pricingBtn:hover {
  background-color: #0c4e3e;
}

main .featuresContainer .featuresSectionOutro .demoBtn, main .pricingContainer .comparePlans .compareBtn, main .teamSection .hiring .hiringBtn {
  background-color: white;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  color: #000000;
  font-family: "Graphik-Regular", sans-serif;
  font-weight: 505;
  font-size: 1rem;
  border: 1px solid #e2e2e2;
  padding: 8px 4px;
  border-radius: 8px;
  transition: 0.5s;
  width: 150px;
}
main .featuresContainer .featuresSectionOutro .demoBtn:hover, main .pricingContainer .comparePlans .compareBtn:hover, main .teamSection .hiring .hiringBtn:hover {
  border: 1px solid rgb(169, 169, 169);
}

main .featuresContainer .featuresSectionIntro, main .featuresContainer .featuresSectionOutro, main .pricingContainer .pricingIntro, main .questionSection .questionIntro, main .teamSection .teamIntro, main .insightsSection .introContainer .insightsIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px 0;
  padding: 8px;
}
main .featuresContainer .featuresSectionIntro .icon, main .featuresContainer .featuresSectionOutro .icon, main .pricingContainer .pricingIntro .icon, main .questionSection .questionIntro .icon, main .teamSection .teamIntro .icon, main .insightsSection .introContainer .insightsIntro .icon {
  font-family: "Graphik-Regular", sans-serif;
  color: #12715b;
  font-size: 1rem;
  font-weight: bold;
  padding: 4px 24px;
  margin-bottom: 16px;
}
main .featuresContainer .featuresSectionIntro h2, main .featuresContainer .featuresSectionOutro h2, main .pricingContainer .pricingIntro h2, main .questionSection .questionIntro h2, main .teamSection .teamIntro h2, main .insightsSection .introContainer .insightsIntro h2 {
  font-family: "Graphik-Semibold", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 16px;
}
main .featuresContainer .featuresSectionIntro .description, main .featuresContainer .featuresSectionOutro .description, main .pricingContainer .pricingIntro .description, main .questionSection .questionIntro .description, main .teamSection .teamIntro .description, main .insightsSection .introContainer .insightsIntro .description {
  font-size: 1.25rem;
  max-width: 800px;
  text-align: center;
}

main .pricingContainer .pricingCards .pricingCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5eee9;
  padding: 56px 64px 56px 64px;
  border-radius: 16px;
  max-width: 500px;
}
main .pricingContainer .pricingCards .pricingCard .label {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #12715b;
  font-family: "Graphik-Semibold", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 4px 16px;
  border-radius: 8px;
}
main .pricingContainer .pricingCards .pricingCard .title {
  color: #12715b;
  font-family: "Graphik-Semibold", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 24px;
}
main .pricingContainer .pricingCards .pricingCard .price {
  font-family: "Graphik-Semibold", sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 16px;
}
main .pricingContainer .pricingCards .pricingCard .price .month {
  font-size: 2rem;
}
main .pricingContainer .pricingCards .pricingCard .description {
  font-size: 1.25rem;
  margin-bottom: 32px;
  text-align: center;
}
main .pricingContainer .pricingCards .pricingCard .pricingBtn {
  margin-bottom: 16px;
  padding: 12px;
  width: 100%;
}
main .pricingContainer .pricingCards .pricingCard hr {
  width: 100%;
}
main .pricingContainer .pricingCards .pricingCard .featuresList {
  align-self: flex-start;
  margin-top: 16px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  font-size: 1.1rem;
  font-family: "Graphik-Medium", sans-serif;
}

main .feedbacksection .feedbackCard, main .questionSection .questionCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin: 32px auto;
  text-align: center;
  background-color: #f5eee9;
  align-items: center;
  padding: 48px 40px;
  border-radius: 16px;
  max-width: 1000px;
}

/* body{
    font-family: font.$primary-font;
} */
.headerMain {
  padding: 32px;
  background: linear-gradient(white, #f5eee9);
}
.headerMain .headFristSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 64px;
}
.headerMain .headFristSection .headerContent {
  max-width: 600px;
}
.headerMain .headFristSection .headerContent h1 {
  font-size: 4rem;
  margin-bottom: 16px;
}
.headerMain .headFristSection .headerContent .description {
  font-size: 1.25rem;
  margin-bottom: 24px;
}
.headerMain .headFristSection .headerContent .email {
  width: 250;
  height: 40px;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  margin-bottom: 8px;
  margin-right: 4px;
  padding: 24px;
}
.headerMain .headFristSection .headerContent .getDemoBtn {
  background-color: #12715b;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 32px;
}
.headerMain .headFristSection .headerContent .reviews .reviewers img {
  border-radius: 24px;
  margin-right: -20px;
}
.headerMain .headFristSection .heroImgContainer {
  position: relative;
  width: fit-content;
}
.headerMain .headFristSection .heroImgContainer .accountImg,
.headerMain .headFristSection .heroImgContainer .countriesImg {
  position: absolute;
}
@media screen and (max-width: 780px) {
  .headerMain .headFristSection .heroImgContainer .accountImg,
  .headerMain .headFristSection .heroImgContainer .countriesImg {
    display: none;
  }
}
.headerMain .headFristSection .heroImgContainer .countriesImg {
  top: 250px;
  left: 50px;
  transform: translate(-50%, -50%);
}
.headerMain .headFristSection .heroImgContainer .accountImg {
  bottom: 200px;
  right: 50px;
  transform: translate(50%, 50%);
}
.headerMain .headFristSection .heroImgContainer .heroImg {
  max-width: 100%;
  border-radius: 16px;
}
.headerMain .brands {
  text-align: center;
  margin-top: 32px;
}
.headerMain .brands img {
  margin: 0 16px;
}

main {
  /* feature section */
  /* details section */
  /* pricing section */
  /* feedback section */
  /* Question section */
  /*team section */
  /*insights section */
}
main .featuresContainer {
  margin: 64px 0 64px 0;
}
main .featuresContainer .featuresSectionIntro .icon {
  border: 1px solid #eeecec;
  border-radius: 24px;
}
main .featuresContainer .featuresSectionIntro h2 {
  font-size: 3rem;
}
main .featuresContainer .mainFeatures {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1 1 100%;
  margin: 0 auto;
  max-width: 1440px;
}
main .featuresContainer .mainFeatures .FeatureContainer {
  font-family: "Graphik-Regular", sans-serif;
  padding: 32px;
}
main .featuresContainer .mainFeatures .FeatureContainer:nth-child(even) {
  background: linear-gradient(white, #f5eee9);
}
main .featuresContainer .mainFeatures .FeatureContainer .featureIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  width: 50px;
  padding: 12px;
  border-radius: 12px;
  background-color: #12715b;
}
@media screen and (min-width: 780px) {
  main .featuresContainer .mainFeatures .FeatureContainer p {
    max-width: 320px;
  }
}
main .featuresContainer .mainFeatures .FeatureContainer a {
  text-decoration: none;
  color: #12715b;
  font-size: 1rem;
}
main .featuresContainer .featuresSectionOutro .demoBtn {
  margin-right: 8px;
}
main .detailsContainer {
  background-color: #f5eee9;
}
main .detailsContainer .detailFirstSection {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
}
main .detailsContainer .detailFirstSection .topImage {
  max-width: 100%;
}
main .detailsContainer .detailFirstSection .details {
  padding: 64px;
  max-width: 900px;
  flex: 1 1 550px;
}
@media screen and (max-width: 750px) {
  main .detailsContainer .detailFirstSection .details {
    padding: 32px;
  }
}
main .detailsContainer .detailFirstSection .details h3 {
  font-family: "Graphik-Semibold", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
main .detailsContainer .detailFirstSection .details .accordion-body,
main .detailsContainer .detailFirstSection .details .accordion-button {
  background-color: #f5eee9;
}
main .detailsContainer .detailFirstSection .details .accordion-button {
  font-family: "Graphik-Medium", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}
main .detailsContainer .detailFirstSection .details .accordionIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline-end: 8px;
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 50%;
  background-color: #12715b;
}
main .detailsContainer .detailSecondSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
}
main .detailsContainer .detailSecondSection .details {
  padding: 64px;
  max-width: 900px;
  flex: 1 1 500px;
}
@media screen and (max-width: 750px) {
  main .detailsContainer .detailSecondSection .details {
    padding: 32px;
  }
}
main .detailsContainer .detailSecondSection .details h3 {
  font-family: "Graphik-Semibold", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
main .detailsContainer .detailSecondSection .details p {
  margin-bottom: 16px;
}
main .detailsContainer .detailSecondSection .details .featuresList {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
}
main .detailsContainer .detailSecondSection .details .featuresList .featureIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  width: 50px;
  height: 50px;
  padding: 8px;
  border-radius: 50%;
  background-color: #12715b;
}
main .detailsContainer .detailSecondSection .bottomImage {
  max-width: 100%;
}
main .pricingContainer .pricingCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}
main .pricingContainer .comparePlans {
  margin-top: 64px;
  text-align: center;
}
main .pricingContainer .comparePlans .compareBtn {
  width: 200px;
  padding: 12px;
}
main .pricingContainer .comparePlans p {
  margin-top: 8px;
  font-family: "Graphik-Medium", sans-serif;
  font-size: 1rem;
}
main .feedbacksection .feedbackCard .logo {
  margin-bottom: 16px;
}
main .feedbacksection .feedbackCard .qoute {
  margin-bottom: 32px;
  font-family: "Graphik-Medium", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  max-width: 700px;
}
main .feedbacksection .feedbackCard h6 {
  font-family: "Graphik-Semibold", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}
main .feedbacksection a {
  display: block;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  color: #12715b;
  font-size: 1.1rem;
  font-weight: bold;
}
main .questionSection .questionIntro h2 {
  font-size: 2.5rem;
}
main .questionSection .accordion {
  margin: 0 auto;
  max-width: 700px;
}
main .questionSection .accordion .accordion-button {
  background-color: white;
  box-shadow: none;
}
main .questionSection .questionCard {
  gap: 8px;
}
main .questionSection .questionCard img {
  border: 2px solid #f5eee9;
  border-radius: 24px;
  margin-right: -20px;
}
main .questionSection .questionCard h5 {
  font-family: "Graphik-Semibold", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
}
main .questionSection .questionCard .questionBtn {
  font-size: 1rem;
  font-weight: bold;
}
main .teamSection .teamIntro h2 {
  font-size: 2.5rem;
}
main .teamSection .teamMembers {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 16px;
}
@media screen and (max-width: 1050px) {
  main .teamSection .teamMembers {
    justify-content: center;
  }
}
main .teamSection .teamMembers .memberCard .memberImg {
  border-radius: 8px;
  margin-bottom: 16px;
}
main .teamSection .teamMembers .memberCard .memberName {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2px;
}
main .teamSection .teamMembers .memberCard .memberRole {
  font-size: 1rem;
}
main .teamSection .hiring {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px 0;
  padding: 8px;
}
main .teamSection .hiring .hiringDescription {
  text-align: center;
  max-width: 400px;
}
main .insightsSection {
  background-color: #f5eee9;
}
main .insightsSection .introContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
}
main .insightsSection .introContainer .insightsIntro {
  align-items: flex-start;
  margin-bottom: 0;
  padding-bottom: 0;
}
main .insightsSection .introContainer .insightsIntro .icon {
  padding-inline-start: 0;
}
main .insightsSection .introContainer .insightsIntro .description {
  margin-bottom: 0;
}
main .insightsSection .introContainer .postsBtn {
  margin-top: 8px;
}
main .insightsSection .postsContainer {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}
main .insightsSection .postsContainer .postCard .postImg {
  border-radius: 12px;
  margin-bottom: 16px;
}
main .insightsSection .postsContainer .postCard .postDescription {
  max-width: 400px;
}
main .insightsSection .postsContainer .postCard .postLink {
  text-decoration: none;
  color: #12715b;
  font-size: 1.1rem;
  font-weight: bold;
}
