@font-face {
  font-family: "Graphik-Regular";
  src: url("/Assets/fonts/Graphik-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Graphik-Medium";
  src: url("/Assets/fonts/Graphik-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Graphik-Semibold";
  src: url("/Assets/fonts/Graphik-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
main .featuresContainer .featuresSectionOutro .trialBtn {
  background-color: #0F604D;
  color: white;
  font-family: "Graphik-Regular", sans-serif;
  font-weight: 505;
  font-size: 1rem;
  border: 0;
  padding: 8px 4px;
  border-radius: 8px;
  transition: 0.5s;
  width: 150px;
}
main .featuresContainer .featuresSectionOutro .trialBtn:hover {
  background-color: #0c4e3e;
}

main .featuresContainer .featuresSectionOutro .demoBtn, .test {
  background-color: white;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  color: #000000;
  font-family: "Graphik-Regular", sans-serif;
  font-weight: 505;
  font-size: 1rem;
  border: 1px solid #e2e2e2;
  padding: 8px 4px;
  border-radius: 8px;
  transition: 0.5s;
  width: 150px;
}
main .featuresContainer .featuresSectionOutro .demoBtn:hover, .test:hover {
  border: 1px solid rgb(169, 169, 169);
}

main .featuresContainer .featuresSectionIntro, main .featuresContainer .featuresSectionOutro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px 0;
  padding: 8px;
}
main .featuresContainer .featuresSectionIntro .icon, main .featuresContainer .featuresSectionOutro .icon {
  font-family: "Graphik-Regular", sans-serif;
  color: #0F604D;
  font-size: 1rem;
  border: 1px solid #eeecec;
  border-radius: 24px;
  padding: 4px 24px;
  margin-bottom: 16px;
}
main .featuresContainer .featuresSectionIntro h2, main .featuresContainer .featuresSectionOutro h2 {
  font-family: "Graphik-Semibold", sans-serif;
  font-size: 2rem;
  margin-bottom: 16px;
}
main .featuresContainer .featuresSectionIntro .description, main .featuresContainer .featuresSectionOutro .description {
  font-size: 1.25rem;
  max-width: 800px;
  text-align: center;
}

/* body{
    font-family: font.$primary-font;
} */
.headerMain {
  padding: 32px;
  background: linear-gradient(white, #F5EEE9);
}
.headerMain .headFristSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 64px;
}
.headerMain .headFristSection .headerContent {
  max-width: 600px;
}
.headerMain .headFristSection .headerContent h1 {
  font-size: 4rem;
  margin-bottom: 16px;
}
.headerMain .headFristSection .headerContent .description {
  font-size: 1.25rem;
  margin-bottom: 24px;
}
.headerMain .headFristSection .headerContent .email {
  width: 250;
  height: 40px;
  border-color: #fcf4f4;
  outline: none;
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 0 24px;
}
.headerMain .headFristSection .headerContent .getDemoBtn {
  background-color: #0F604D;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 32px;
}
.headerMain .headFristSection .headerContent .reviews .reviewers img {
  border-radius: 24px;
  margin-right: -20px;
}
.headerMain .headFristSection .heroImgContainer {
  position: relative;
  width: fit-content;
}
.headerMain .headFristSection .heroImgContainer .accountImg,
.headerMain .headFristSection .heroImgContainer .countriesImg {
  position: absolute;
}
@media screen and (max-width: 780px) {
  .headerMain .headFristSection .heroImgContainer .accountImg,
  .headerMain .headFristSection .heroImgContainer .countriesImg {
    display: none;
  }
}
.headerMain .headFristSection .heroImgContainer .countriesImg {
  top: 250px;
  left: 50px;
  transform: translate(-50%, -50%);
}
.headerMain .headFristSection .heroImgContainer .accountImg {
  bottom: 200px;
  right: 50px;
  transform: translate(50%, 50%);
}
.headerMain .brands {
  text-align: center;
  margin-top: 32px;
}
.headerMain .brands img {
  margin: 0 16px;
}

main {
  /* feature section */
}
main .featuresContainer {
  margin: 64px 0 64px 0;
}
main .featuresContainer .featuresSectionIntro h2 {
  font-size: 3rem;
}
main .featuresContainer .mainFeatures {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1 1 100%;
  margin: 0 auto;
  max-width: 1440px;
}
main .featuresContainer .mainFeatures .FeatureContainer {
  font-family: "Graphik-Regular", sans-serif;
  padding: 32px;
}
main .featuresContainer .mainFeatures .FeatureContainer:nth-child(even) {
  background: linear-gradient(white, #F5EEE9);
}
main .featuresContainer .mainFeatures .FeatureContainer .featureIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  width: 50px;
  padding: 12px;
  border-radius: 12px;
  background-color: #0F604D;
}
@media screen and (min-width: 780px) {
  main .featuresContainer .mainFeatures .FeatureContainer p {
    max-width: 320px;
  }
}
main .featuresContainer .mainFeatures .FeatureContainer a {
  text-decoration: none;
  color: #0F604D;
  font-size: 1rem;
}
main .featuresContainer .featuresSectionOutro .demoBtn {
  margin-right: 8px;
}
