@use "../../styles/variables/color" as color;
@use "../../styles/variables/font" as font;

/* Start career openings Hero*/

.section {
  padding-block: 4rem;
  font-family: font.$primary-font
}

.openings {
  background-color: color.$tertiary-color;
  .container {
    margin: 0 auto;
    h2 {
      text-align: center;
      font-size: 2.5rem;
      letter-spacing: -2px;
      padding-block: 3rem;
      font-weight: bold;
    }
  }
}

/* End career openings Hero*/