 @use "../../styles/variables/textCards";
 @use "../../styles/variables/buttons";

 .teamSection {
     .teamIntro {
         @extend %PrimaryTextCard;

         h2 {
             font-size: 2.5rem;
         }


     }

     .teamMembers {
         margin: 0 auto;
         max-width: 1200px;
         display: flex;
         justify-content: center;
         flex-wrap: wrap;
         gap: 16px;


         .memberCard {
             .memberImg {
                 border-radius: 8px;
                 margin-bottom: 16px;
             }

             .memberName {
                 font-size: 1.5rem;
                 font-weight: bold;
                 margin-bottom: 2px;
             }

             .memberRole {
                 font-size: 1rem;
             }
         }
     }

     .hiringCard {
         display: flex;
         flex-direction: column;
         align-items: center;
         margin: 32px 0;
         padding: 8px;

         .hiringDescription {
             text-align: center;
             max-width: 400px;
         }

         .hiringBtn {
             @extend %secondaryButton;
             width: fit-content;
             padding: 8px;
         }
     }
 }