$primary-color: #ffff;
$primary-color-dark: #ffffffb3;
$secondary-color: #000000;
$tertiary-color: #F5EEE9;
$quaternary-color: #0F604D;
$quaternary-color-dark: #0c4e3e;
$tertiary-color: #f5eee9;
$quaternary-color: #12715b;
$quinary-color: #0f604d;
$senary-color: #c6c9cb;
