@use "./color" as color;
@use "./font" as font;
@use "./buttons";
@use "./textCards";
/* body{
    font-family: font.$primary-font;
} */

.headerMain {
  padding: 32px;
  background: linear-gradient(color.$primary-color, color.$tertiary-color);

  .headFristSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 64px;

    .headerContent {
      h1 {
        font-size: 4rem;
        margin-bottom: 16px;
      }

      .description {
        font-size: 1.25rem;
        margin-bottom: 24px;
      }

      .email {
        width: 250;
        height: 40px;
        border-color: #fcf4f4;
        outline: none;
        border-radius: 4px;
        margin-bottom: 8px;
        padding: 0 24px;
      }

      .getDemoBtn {
        background-color: color.$quaternary-color;
        color: color.$primary-color;
        border: none;
        border-radius: 8px;
        padding: 8px 32px;
      }

      max-width: 600px;

      .reviews {
        .reviewers img {
          border-radius: 24px;
          margin-right: -20px;
        }
      }
    }

    .heroImgContainer {
      position: relative;
      width: fit-content;

      .accountImg,
      .countriesImg {
        position: absolute;

        @media screen and (max-width: 780px) {
          display: none;
        }
      }

      .countriesImg {
        top: 250px;
        left: 50px;
        transform: translate(-50%, -50%);
      }

      .accountImg {
        bottom: 200px;
        right: 50px;
        transform: translate(50%, 50%);
      }
      .heroImg{
        max-width: 100%;
        border-radius: 16px;
      }
    }
  }

  .brands {
    text-align: center;
    margin-top: 32px;

    img {
      margin: 0 16px;
    }
  }
}

main {

  /* feature section */
  .featuresContainer {
    margin: 64px 0 64px 0;

    .featuresSectionIntro {
      @extend %PrimaryTextCard;

      h2 {
        font-size: 3rem;
      }
    }

    .mainFeatures {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex: 1 1 100%;
      margin: 0 auto;
      max-width: 1440px;

      .FeatureContainer {
        font-family: font.$primary-font;
        padding: 32px;

        &:nth-child(even) {
          background: linear-gradient(color.$primary-color,
              color.$tertiary-color );
        }

        .featureIcon {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 32px;
          width: 50px;
          padding: 12px;
          border-radius: 12px;
          background-color: color.$quaternary-color;
        }

        p {
          @media screen and (min-width: 780px) {
            max-width: 320px;
          }
        }

        a {
          text-decoration: none;
          color: color.$quaternary-color;
          font-size: 1rem;
        }
      }
    }

    .featuresSectionOutro {
      @extend %PrimaryTextCard;

      .demoBtn {
        @extend %secondaryButton;
        margin-right: 8px;
      }

      .trialBtn {
        @extend %primaryButton;
      }
    }
  }
 /* details section */
  .detailsContainer {
    background-color: color.$tertiary-color;

    .detailFirstSection {
      display: flex;

      align-items: center;
      flex-wrap: wrap;
      gap: 32px;

      .topImage {
        max-width: 100%;
      }

      .details {
        padding: 64px;
        max-width: 900px;
        flex: 1 1 200px;

        @media screen and (max-width: 750px) {
          padding: 32px;
        }

        h3 {
          font-family: font.$tertiary-font;
          font-size: 2.5rem;
          font-weight: bold;
        }

        .accordion-body,
        .accordion-button {
          background-color: color.$tertiary-color;
        }

        .accordion-button {
          font-family: font.$secondary-font;
          font-weight: 500;
          font-size: 1.5rem;
        }

        .accordionIcon {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-inline-end: 8px;
          width: 40px;
          height: 40px;
          padding: 8px;
          border-radius: 50%;
          background-color: color.$quaternary-color;

        }
      }
    }

    .detailSecondSection {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 32px;

      .details {
        padding: 64px;
        max-width: 900px;
        flex: 1 1 200px;

        @media screen and (max-width: 750px) {
          padding: 32px;
        }

        h3 {
          font-family: font.$tertiary-font;
          font-size: 2.5rem;
          font-weight: bold;
        }

        p {
          margin-bottom: 16px;
        }

        .featuresList {
          margin-top: 32px;
          display: flex;
          flex-wrap: wrap;

          .featureIcon {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 16px;
            width: 50px;
            height: 50px;
            padding: 8px;
            border-radius: 50%;
            background-color: color.$quaternary-color;
          }


        }
      }

      .bottomImage {
        max-width: 100%;
      }
    }
  }

 /* pricing section */

}