@use "./color" as color;
@use "./font" as font;

.news-letter .btn,
.green-bg,
.top-section small a {
  background-color: #0f604d;
}
.second-a {
  color: #0f604d;
  // background-color: ;
}
.rounded-avatar {
  height: 24px;
  width: 24px;
}
.card {
  position: relative;
  .badge {
    position: absolute;
    top: 23px;
    left: 23px;
  }
}
.card,
.news-letter,
.top-section {
  background-color: color.$tertiary-color;
}
.hover-effect {
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.05) translateY(-2px);
  }
}
body {
  font-family: "Graphik-Regular", sans-serif;
  color: black;
}
h1,
h2,
h4,
h3 {
  font-family: "Graphik-Semibold", "sans-serif";
}
h1 {
  font-size: 3rem;
  color: #0e0e0f;
}
h2 {
  font-size: 2.5rem;
}
.subscription-form {
  ::placeholder {
    color: #999999;
  }
}

.stars-container {
  position: relative;

  .star-one {
    position: absolute;
    right: 0;
  }
}
