@use "../../../styles/variables/color" as color;
@use "../../../styles/variables/font" as font;

.benefit {
  padding-block: 10px;

  i {
    color: color.$quaternary-color;
    margin-right: 10px;
  }
}