@font-face {
  font-family: "Graphik-Regular";
  src: url("/assets/fonts/Graphik-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Graphik-Medium";
  src: url("/assets/fonts/Graphik-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Graphik-Semibold";
  src: url("/assets/fonts/Graphik-Semibold.otf") format("opentype");
}
main .featuresSection .featuresSectionOutro .trialBtn, main .questionSection .questionCard .questionBtn, main .insightsSection .introContainer .postsBtn, main .pricingSection .pricingCardsContainer .pricingPlanCard .pricingBtn {
  background-color: #0F604D;
  color: white;
  font-family: "Graphik-Regular", sans-serif;
  font-size: 1rem;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  transition: 0.5s;
  min-width: 150px;
}
main .featuresSection .featuresSectionOutro .trialBtn:hover, main .questionSection .questionCard .questionBtn:hover, main .insightsSection .introContainer .postsBtn:hover, main .pricingSection .pricingCardsContainer .pricingPlanCard .pricingBtn:hover {
  background-color: #0c4e3e;
}

main .featuresSection .featuresSectionOutro .demoBtn, main .pricingSection .comparePlanContainer .compareBtn, main .teamSection .hiringCard .hiringBtn {
  background-color: white;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  color: #000000;
  font-family: "Graphik-Regular", sans-serif;
  font-size: 1rem;
  border: 1px solid #e2e2e2;
  padding: 8px;
  border-radius: 8px;
  transition: 0.5s;
  min-width: 150px;
}
main .featuresSection .featuresSectionOutro .demoBtn:hover, main .pricingSection .comparePlanContainer .compareBtn:hover, main .teamSection .hiringCard .hiringBtn:hover {
  border: 1px solid rgb(169, 169, 169);
}

main .featuresSection .featuresSectionIntro, main .featuresSection .featuresSectionOutro, main .pricingSection .pricingSectionIntro, main .questionSection .questionIntro, main .teamSection .teamIntro, main .insightsSection .introContainer .insightsIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px 0;
  padding: 8px;
  text-align: center;
}
main .featuresSection .featuresSectionIntro .icon, main .featuresSection .featuresSectionOutro .icon, main .pricingSection .pricingSectionIntro .icon, main .questionSection .questionIntro .icon, main .teamSection .teamIntro .icon, main .insightsSection .introContainer .insightsIntro .icon {
  font-family: "Graphik-Regular", sans-serif;
  color: #0F604D;
  font-size: 1rem;
  font-weight: bold;
  padding: 4px 24px;
  margin-bottom: 16px;
}
main .featuresSection .featuresSectionIntro h2, main .featuresSection .featuresSectionOutro h2, main .pricingSection .pricingSectionIntro h2, main .questionSection .questionIntro h2, main .teamSection .teamIntro h2, main .insightsSection .introContainer .insightsIntro h2 {
  font-family: "Graphik-Semibold", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 16px;
}
main .featuresSection .featuresSectionIntro .description, main .featuresSection .featuresSectionOutro .description, main .pricingSection .pricingSectionIntro .description, main .questionSection .questionIntro .description, main .teamSection .teamIntro .description, main .insightsSection .introContainer .insightsIntro .description {
  font-size: 1.25rem;
  max-width: 800px;
  text-align: center;
}

main .pricingSection .pricingCardsContainer .pricingPlanCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F5EEE9;
  padding: 56px 64px 56px 64px;
  border-radius: 16px;
  max-width: 500px;
}
main .pricingSection .pricingCardsContainer .pricingPlanCard .label {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #0F604D;
  font-family: "Graphik-Semibold", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 4px 16px;
  border-radius: 8px;
}
main .pricingSection .pricingCardsContainer .pricingPlanCard .title {
  color: #0F604D;
  font-family: "Graphik-Semibold", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 24px;
}
main .pricingSection .pricingCardsContainer .pricingPlanCard .price {
  font-family: "Graphik-Semibold", sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 16px;
}
main .pricingSection .pricingCardsContainer .pricingPlanCard .price .month {
  font-size: 2rem;
}
main .pricingSection .pricingCardsContainer .pricingPlanCard .description {
  font-size: 1.25rem;
  margin-bottom: 32px;
  text-align: center;
}
main .pricingSection .pricingCardsContainer .pricingPlanCard .pricingBtn {
  margin-bottom: 16px;
  padding: 12px;
  width: 100%;
}
main .pricingSection .pricingCardsContainer .pricingPlanCard hr {
  width: 100%;
}
main .pricingSection .pricingCardsContainer .pricingPlanCard .featuresList {
  align-self: flex-start;
  margin-top: 16px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  font-size: 1.1rem;
  font-family: "Graphik-Medium", sans-serif;
}

main .feedbacksection .feedbackCard, main .questionSection .questionCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin: 32px auto;
  text-align: center;
  background-color: #F5EEE9;
  align-items: center;
  padding: 48px 40px;
  border-radius: 16px;
  max-width: 1000px;
}

/*header*/
.headerContentSection {
  padding: 32px;
  background: linear-gradient(white, #F5EEE9);
}
.headerContentSection .headerIntro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 64px;
}
.headerContentSection .headerIntro .headerIntroText {
  max-width: 600px;
}
.headerContentSection .headerIntro .headerIntroText h1 {
  font-family: "Graphik-Regular", sans-serif;
  font-size: 4rem;
  margin-bottom: 16px;
}
@media screen and (max-width: 500px) {
  .headerContentSection .headerIntro .headerIntroText h1 {
    font-size: 3rem;
  }
}
.headerContentSection .headerIntro .headerIntroText .headerDescription {
  max-width: 500px;
  font-family: "Graphik-Regular", sans-serif;
  font-size: 1.25rem;
  margin-bottom: 24px;
}
.headerContentSection .headerIntro .headerIntroText .email {
  height: 40px;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  margin-bottom: 8px;
  margin-right: 4px;
  padding: 20px;
}
.headerContentSection .headerIntro .headerIntroText .getDemoBtn {
  background-color: #0F604D;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 32px;
}
.headerContentSection .headerIntro .headerIntroText .userReviews .reviewerAvatars img {
  border-radius: 24px;
  margin-right: -20px;
}
.headerContentSection .headerIntro .heroImgContainer {
  position: relative;
  width: fit-content;
}
.headerContentSection .headerIntro .heroImgContainer .accountImg,
.headerContentSection .headerIntro .heroImgContainer .countriesImg {
  position: absolute;
}
@media screen and (max-width: 780px) {
  .headerContentSection .headerIntro .heroImgContainer .accountImg,
  .headerContentSection .headerIntro .heroImgContainer .countriesImg {
    display: none;
  }
}
.headerContentSection .headerIntro .heroImgContainer .countriesImg {
  top: 210px;
  left: 50px;
  transform: translate(-50%, -50%);
}
.headerContentSection .headerIntro .heroImgContainer .accountImg {
  bottom: 150px;
  right: 50px;
  transform: translate(50%, 50%);
}
.headerContentSection .headerIntro .heroImgContainer .heroImg {
  max-width: 100%;
  border-radius: 16px;
}
.headerContentSection .brands {
  text-align: center;
  margin-top: 64px;
  margin-bottom: 32px;
}
.headerContentSection .brands .brandLogos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
.headerContentSection .brands p {
  margin-bottom: 24px;
}

/*main*/
main {
  /* feature section */
  /* details section */
  /* pricing section */
  /* feedback section */
  /* Question section */
  /*team section */
  /*insights section */
}
main .featuresSection {
  margin: 64px 0 64px 0;
}
main .featuresSection .featuresSectionIntro .icon {
  border: 1px solid #eeecec;
  border-radius: 24px;
}
main .featuresSection .featuresSectionIntro h2 {
  font-size: 3rem;
}
main .featuresSection .featuresList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1 1 100%;
  margin: 0 auto;
  max-width: 1440px;
}
main .featuresSection .featuresList .featureCard {
  font-family: "Graphik-Regular", sans-serif;
  padding: 32px;
  border-radius: 4px;
}
main .featuresSection .featuresList .featureCard:nth-child(even) {
  background: linear-gradient(white, #F5EEE9);
}
main .featuresSection .featuresList .featureCard .featureCardIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  width: 50px;
  padding: 12px;
  border-radius: 12px;
  background-color: #0F604D;
}
@media screen and (min-width: 780px) {
  main .featuresSection .featuresList .featureCard p {
    max-width: 320px;
  }
}
main .featuresSection .featuresList .featureCard a {
  text-decoration: none;
  color: #0F604D;
  font-size: 1rem;
}
main .featuresSection .featuresSectionOutro .demoBtn {
  margin-right: 8px;
}
main .detailsSection {
  background-color: #F5EEE9;
}
@media screen and (min-width: 1900px) {
  main .detailsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
main .detailsSection .detailsPrimaryContent {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
}
@media screen and (min-width: 500px) and (max-width: 1550px) {
  main .detailsSection .detailsPrimaryContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
main .detailsSection .detailsPrimaryContent .detailsMainImage {
  max-width: 100%;
}
main .detailsSection .detailsPrimaryContent .detailsContentContainer {
  padding: 64px;
  max-width: 900px;
  flex: 1 1 550px;
}
@media screen and (max-width: 750px) {
  main .detailsSection .detailsPrimaryContent .detailsContentContainer {
    padding: 32px;
  }
}
main .detailsSection .detailsPrimaryContent .detailsContentContainer h3 {
  font-family: "Graphik-Semibold", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
main .detailsSection .detailsPrimaryContent .detailsContentContainer .accordion-body,
main .detailsSection .detailsPrimaryContent .detailsContentContainer .accordion-button {
  background-color: #F5EEE9;
}
main .detailsSection .detailsPrimaryContent .detailsContentContainer .accordion-button {
  font-family: "Graphik-Medium", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  box-shadow: none;
}
main .detailsSection .detailsPrimaryContent .detailsContentContainer .accordionIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline-end: 8px;
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 50%;
  background-color: #0F604D;
}
main .detailsSection .detailsSecondaryContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
  max-width: 1900px;
}
@media screen and (min-width: 500px) and (max-width: 1550px) {
  main .detailsSection .detailsSecondaryContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
  }
}
main .detailsSection .detailsSecondaryContent .detailsContentContainer {
  padding: 64px;
  max-width: 900px;
  flex: 1 1 500px;
}
@media screen and (max-width: 750px) {
  main .detailsSection .detailsSecondaryContent .detailsContentContainer {
    padding: 32px;
  }
}
main .detailsSection .detailsSecondaryContent .detailsContentContainer h3 {
  font-family: "Graphik-Semibold", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
main .detailsSection .detailsSecondaryContent .detailsContentContainer p {
  margin-bottom: 16px;
}
main .detailsSection .detailsSecondaryContent .detailsContentContainer .featuresList {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
}
main .detailsSection .detailsSecondaryContent .detailsContentContainer .featuresList .featureIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  width: 50px;
  height: 50px;
  padding: 8px;
  border-radius: 50%;
  background-color: #0F604D;
}
main .detailsSection .detailsSecondaryContent .detailsSecondaryImage {
  max-width: 100%;
}
main .pricingSection {
  padding: 8px;
}
main .pricingSection .pricingCardsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}
main .pricingSection .comparePlanContainer {
  margin-top: 64px;
  text-align: center;
}
main .pricingSection .comparePlanContainer .compareBtn {
  width: 200px;
  padding: 12px;
}
main .pricingSection .comparePlanContainer p {
  margin-top: 16px;
  font-family: "Graphik-Medium", sans-serif;
  font-size: 1rem;
}
main .feedbacksection .feedbackCard .logo {
  margin-bottom: 16px;
}
main .feedbacksection .feedbackCard .qoute {
  margin-bottom: 32px;
  font-family: "Graphik-Medium", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  max-width: 700px;
}
main .feedbacksection .feedbackCard h6 {
  font-family: "Graphik-Semibold", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}
main .feedbacksection a {
  display: block;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  color: #0F604D;
  font-size: 1.1rem;
  font-weight: bold;
}
main .questionSection .questionIntro h2 {
  font-size: 2.5rem;
}
main .questionSection .accordion {
  margin: 0 auto;
  max-width: 700px;
}
main .questionSection .accordion .accordion-button {
  background-color: white;
  box-shadow: none;
}
main .questionSection .questionCard {
  gap: 8px;
}
main .questionSection .questionCard img {
  border: 2px solid #F5EEE9;
  border-radius: 24px;
  margin-right: -20px;
}
main .questionSection .questionCard h5 {
  font-family: "Graphik-Semibold", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
}
main .questionSection .questionCard .questionBtn {
  font-size: 1rem;
  font-weight: bold;
}
main .teamSection .teamIntro h2 {
  font-size: 2.5rem;
}
main .teamSection .teamMembers {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}
main .teamSection .teamMembers .memberCard .memberImg {
  border-radius: 8px;
  margin-bottom: 16px;
}
main .teamSection .teamMembers .memberCard .memberName {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2px;
}
main .teamSection .teamMembers .memberCard .memberRole {
  font-size: 1rem;
}
main .teamSection .hiringCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px 0;
  padding: 8px;
}
main .teamSection .hiringCard .hiringDescription {
  text-align: center;
  max-width: 400px;
}
main .teamSection .hiringCard .hiringBtn {
  width: fit-content;
  padding: 8px;
}
main .insightsSection {
  background-color: #F5EEE9;
  padding: 32px 16px 64px 16px;
}
main .insightsSection .introContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
}
main .insightsSection .introContainer .insightsIntro {
  align-items: flex-start;
  margin-bottom: 0;
  padding-bottom: 0;
}
main .insightsSection .introContainer .insightsIntro .icon {
  padding-inline-start: 0;
}
main .insightsSection .introContainer .insightsIntro .description {
  margin-bottom: 0;
}
main .insightsSection .introContainer .postsBtn {
  margin-top: 8px;
}
main .insightsSection .postsContainer {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}
main .insightsSection .postsContainer .postCard .postImg {
  border-radius: 12px;
  margin-bottom: 16px;
  max-width: 100%;
}
main .insightsSection .postsContainer .postCard .postDescription {
  max-width: 400px;
}
main .insightsSection .postsContainer .postCard .postLink {
  text-decoration: none;
  color: #0F604D;
  font-size: 1.1rem;
  font-weight: bold;
}
